body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #FFEBEB; /* Fondo Rojo Pastel muy claro */
    color: #333;
}

header {
    background-color: #FFB6B9; /* Rojo pastel */
    color: #424242;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#logout-btn {
    background-color: #F88379; /* Rojo pastel más oscuro */
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.generator-form {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

.generator-form h2 {
    text-align: center;
    color: #F88379; /* Rojo pastel más oscuro */
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

.generator-form button {
    margin-top: 1rem;
    background-color: #FFB6B9; /* Rojo pastel */
    font-weight: bold;
    color: #4D4D4D;
}